<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EssaySafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An app to take tests online ">
    <meta name="author" content="Alex Rattray, Greg Terrono, Geoff Vedernikoff, Aaron Roth, Patrick Yoon">

    <!-- Le styles -->
    <!--<link href="../media/css/bootstrap.css" rel="stylesheet">-->
    <link href='http://fonts.googleapis.com/css?family=Orbitron|Electrolize' rel='stylesheet' type='text/css'>
    <link href="../media/css/style.css" rel="stylesheet">
    <link href="../media/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="../media/css/essaysafe.css" />
    {% block styles %}
    {% endblock styles %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../media/js/jquery-1.7.1.min.js"></script>
	<script src="../media/js/essaysafe.js"></script>
    <!--
    <script src="../media/js/bootstrap-transition.js"></script>
    <script src="../media/js/bootstrap-alert.js"></script>
    <script src="../media/js/bootstrap-modal.js"></script>
    <script src="../media/js/bootstrap-dropdown.js"></script>
    <script src="../media/js/bootstrap-scrollspy.js"></script>
    <script src="../media/js/bootstrap-tab.js"></script>
    <script src="../media/js/bootstrap-tooltip.js"></script>
    <script src="../media/js/bootstrap-popover.js"></script>
    <script src="../media/js/bootstrap-button.js"></script>
    <script src="../media/js/bootstrap-collapse.js"></script>
    <script src="../media/js/bootstrap-carousel.js"></script>
    <script src="../media/js/bootstrap-typeahead.js"></script>
    -->
    {% block scripts %}
    {% endblock scripts %}
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29711340-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>
    <div id="container" class="container">
      {% block top %}
      {% endblock top %}

      {% block content %}
      {% endblock content %}
      
      {% block footer %}
      {% endblock footer %}
    </div> <!-- /container -->

   

  </body>
</html>
