
{% if form.non_field_errors %}
  <div class="clearfix center">
    <div class="errormessage"> 
      {% for error in form.non_field_errors %}
		{{ error }}
	{% endfor %}
    </div>
  </div>
{% endif %}
{% for field in form.visible_fields %}
  <div class="clearfix">
    {% if field.errors %}
      {{ field.label }}&nbsp
      <label class="errormessage" for="id_{{ field.html_name }}">
	{% for error in field.errors %}
	  {{ error }}
	{% endfor %}
      </label>
    {% else %}
      {{ field.label_tag }}
    {% endif %}
  </div>
  <div class="clearfix">
    {{ field }}
  </div>
  <hr>
{% endfor %}
