{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block top %}
  <div id="title">
    <div class="row">
      <div class="span6">
        <h1>EssaySafe <span>In-class essays. No cheating.</span></h1>
      </div>
      <div class="span6" style="text-align:right;">
        <h3>Students: <a class="btn btn-large" href="">Download EssaySafe</a>
        </h3>
      </div>
    </div>
  </div>
{% endblock top %}

{% block content %}
{% endblock content %}

{% block footer %}
<hr>
<footer style="text-align:center;">
  <p>&copy; DecisionCandy HackPack 2012</p>
  <p>A project by 
    Alex Rattray, Greg Terrono, Geoff Vedernikoff, Aaron Roth, Patrick Yoon</p>
</footer>
{% endblock footer %}

{% block scripts %}
{% endblock scripts %}