<html>
   <head>
<title>Get location</title>
   <script type="text/javascript">
       if (navigator.geolocation) {
	      navigator.geolocation.getCurrentPosition(success, failure);
		  } else {
		  alert('not supported');
		  }
       
	   function success(object) {
        var lati = object.coords.latitude;
         var longi = object.coords.longitude;
         var accuracy = object.coords.accuracy;
         var times = object.timestamp;
		 alert('lati:' + lati + 'logi: ' + longi + 'accuracy: ' + accuracy + 'time: ' + times);
		  }
		  
	   function failure(object) {
	      //
		  }
	   
 
 
       </script>
  </head>

      <body onload="getMap(); ">
      <div id='myMap' style="position:relative; width:400px; height:400px;"></div>
      <div>
         <input type="button" value="Submit" onclick="submit();" />
      </div>
      <div id='output'> </div> 
   </body>
</html>
