{% extends "base.html" %}

{% block styles %}
{% endblock styles %}

{% block content %}
<div id="container" class="container">
  <div class="row" id="title">
    <div class="span6">
      <h1>EssaySafe <span>In-class essays. No cheating.</span></h1>
    </div>
    <div class="span6" style="text-align:right;">
      <h3>Students: <a class="btn btn-large" href="">Download EssaySafe</a>
      </h3>
    </div>
  </div>
  <div id="content" class="row">
    <div>
      <div class="span3">&nbsp;</div>
      <div class="span6">
        <div class="row">
          <div class="span3">
            <h1>I'm a Professor</h1>
            <a href="" class="btn btn-large btn-primary">Make an Exam</a>
          </div>
          <div class="span3">
            <h1>I'm a Student</h1>
            <a href="" class="btn btn-large btn-primary">Download EssaySafe</a>
          </div>
        </div>
      </div>
      <div class="span3">&nbsp;</div>
    </div
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}