{% extends "general.html" %}

{% block styles %}
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="span4">
      <img src="media/img/photo3.jpg" style="height:250px"/>
    </div>
    <div class="span8">
      <h1 style="font-size:100px;">Shred the</h1>
      <h1 style="font-size:100px;">&nbsp;</h1>
      <h1 style="font-size:100px;">BlueBook</h1>
    </div>
  </div>
  <div class="row graybg">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <div class="row">
        <div class="span3">
          <h1>I'm a Professor</h1>
          <a href="/dashboard/" class="btn btn-large btn-primary">Make an Exam</a>
        </div>
        <div class="span3">
          <h1>I'm a Student</h1>
          <a href="" class="btn btn-large btn-primary">Download EssaySafe</a>
        </div>
      </div>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
</div>
{% endblock content %}

