{% extends "general.html" %}

{% block styles %}
<style type="text/css">
.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block
        }
</style>
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="span6">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/-EB7f3jxluc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span6">
      <h1>Ditch Handwritten Essays.</h1>
      <hr>
      <h2>EssaySafe allows you to take exams in the cloud.</h2>
      <h2>In class. Without switching windows.</h2>
      <p>We <strong>disable Alt-Tab</strong> and any other method of switching out of the exam with a chrome extension and a desktop app. </p>
      <p>Our main application is built in <strong>Django running on Google App Engine</strong></p>
      <p>We use the Google Docs API to let students and professors edit and track documents</p>
      <p><strong>The Box API</strong> is used as well to allow download of .doc versions. Professors can track their classes in Google Docs and/or Box. </p>
      <p><strong>The Bing Maps API</strong> allows professors to track where their students are during the exam and ensure everybody is in the room during the test. </p>
      <hr>
      <center>
      <h3>Are you a professor?</h3>
      <a href="/make/" class="btn btn-large">Make an Exam</a> 
      </center
    </div>
  </div>
</div>
{% endblock content %}

