@import "bootstrap.less";

@dgray: @grayLight;
@ckblue: #48b4d6;

.graybg {
	border-top: 1px solid @grayLight;
	background-color: @grayLighter;
}

html, body {
	border-top: 2px solid @grayLighter;
	height: 100%;
}
#outer {
	background-color: white;
	width: 100%;
	min-height: 100%;
	border: 15px solid @dgray;
	padding: 15px;
	-webkit-box-sizing: border-box;
	//position:absolute;
}
#footer {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: @dgray;
	padding: 15px;
	h1 {color: white;}
}
#container {
	padding: 15px;
}
#title {
/*h1 {
		margin-bottom: 0;
		font-size: 60px;
		line-height: 1;
		letter-spacing: -1px;
		span {
			font-size: 24px;
			color: @dgray;
		}
	}*/
	h1 {
		width:100%;
		span {
			font-size: 24px;
			color: @grayLight;
			text-align:right;
		}
	}
	//padding: 60px;
	margin-bottom: 30px;
	//background-color: #f5f5f5;
	//-webkit-border-radius: 6px;
	//-moz-border-radius: 6px;
	//border-radius: 6px;
	//width:100%;
	//-webkit-box-sizing: border-box;
}
#content {
	.graybg;
	margin-top: 50px;
	padding-top: 15px; padding-bottom: 15px;
}