#top_right {
  font-size: 25px;
  font-family: 'Electrolize'
  /* margin-top: 20px; */
}
#logo {
  cursor: pointer;
}
#slogan, #top_right {
  cursor: default;
}
#width {
  width:300px;
}
#footer {
  text-align:center;
  cursor: default;
  /*width: 50%;*/
}
#footer a {
  text-decoration: none;
}
#dashboard_wrapper {
  cursor: default;
  padding-top: 75px;
  padding-bottom: 75px;
}
#dashboard_wrapper a:hover {
  text-decoration: none;
}
.hilight {
  background-color: #eeeeee; 
  cursor: pointer;
}
.exam {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
#submissions {
  color: #999;
}
#sub a{
  color: #777;
  padding-left: 10px;
}
#sub a:before {
  content: '- '
}
#sub a:hover {
  color: #000;
}
.inline {
  display: inline;
}
